sphinx==7.1.2
nbsphinx==0.8.9
# nbsphinx>0.9.1 has issues with MyST anchors
# nbsphinx>0.8.9 has issues with smart quotes in .po files
linkify-it-py
myst-parser==2.0.0
sphinx_design
sphinxcontrib-mermaid
secretflow-doctools
